:root {
  --purple: #7289DA;
  --white: #ffffff;
  --grey: #99AAB5;
  --lightdark: #2C2F33;
  --lighterdark: #7A7878;
  --dark: #23272A;
  --reallydark: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--lightdark);
}
