.tag__btn {
    border: none;
    border-radius: 15px;
    background-color: var(--purple);
    color: var(--white);
    margin: 2px 10px 2px 10px;
    padding: 8px 38px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.tag__btn:hover {
    background-color: var(--white);
    color: black;
}