.home__main {
    background-color: var(--lightdark);
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.home__resetBtn {
    background-color: transparent;
    color: #dc322f;
    position: absolute;
    top: 122px;
    left: 32%;
    font-size: 12px;
    border: none;
    z-index: 100;
}

.home__resetBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}